page-login {

    .toolbar-title-md {
        margin: 0px;
        text-align: center;
        color: white;      
      }

    .header-md {
        background-color: #00ccff;
    }

    .content-md {
        background-color: #ededed;
        
    }

    .login_bk {
        background-image: url("/assets/imgs/login_bk.png");
    }

    .content {
        background-image: url("/assets/imgs/bk.png");
        background-size: cover;
    }

    .register-title {
        color:#c8c7cc;
        left:0;
        right:0;
    
        a {
          color:red;
        }
      }

}

