page-register {
    .toolbar-title-md {
        margin: 0px;
        text-align: center;
        color: white;      
      }

    .header-md {
        background-color: #00ccff;
    }

    .content-md {
        background-color: #ededed;
    }

    .back-button-md {
        margin : 0
    }
}
