page-reset-password {
    .toolbar-title-md {
        margin: 0px;
        text-align: center;
        color: white;      
      }

    .header-md {
        background-color: #00ccff;
    }

    .content-md {
        background-color: #ededed;
    }

    .back-button-md {
        margin : 0
    }

    .content {
        background-image: url("/assets/imgs/register_bk.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    a {
        color: #ffffff;
    }

    .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
        color: #ffffff;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #ffffff;
        -webkit-box-shadow: inset 0 -1px 0 0 #ffffff;
        box-shadow: inset 0 -1px 0 0 #ffffff;
    }

    .item1.item-md{
        background-color: #f3f4f9;
    }

    .button-inner {
        font-size: 15px;
    }

    .code {
        color : red;
        font-size: 10px;
    }

    ion-icon {
        margin-right: 10px;
        font-size: 1.2em;
    }
}
