page-matching-detail {
    .content-md {
        background-color: #ededed;
    }
    .toolbar-title-md {
        margin: 0px;
        text-align: center;
        color: white;      
      }
      .back-button-md {
        margin : 0
    }
}
