page-park-detail {
    .toolbar-title-md {
        margin: 0px;
        text-align: center;
        color: white;      
      }

    .header-md {
        background-color: #00ccff;
    }

    .back-button-md {
        margin : 0
    }

}
